body {
  background-color: #ccffff;
  font-size: 30px;
}

p#Me:hover {
	color: red;
	//text-align: center;
	
}
.carousel-indicators {
  bottom:-10px;
  background-color: #00ffff;
}

.carousel-inner {
   margin-bottom:10px;
}
.col-md-4 {
	max-height: 425px;
}
img:hover
 {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
img {
	max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
	//max-height: 100%;
    //max-width: 100%;
	//max-height: 425px;
	//display: block;
    //margin-left: auto;
    //margin-right: auto;
    //width: 75%;
}
h1 {
	text-align: center;
	background-color: #00ffff;
    font-family: Comic Sans MS;
	font-size: 200%;
}
p {
	text-align: center;
}
div#time {
	text-align: center;
	color: green;
	
}
div#time:hover {
	color :red;
}

.carousel img {
	max-height: 100%;
    max-width: 100%;
	display: block;
    margin: 0 auto;
    //max-height: 425px;
	//min-height: 425px;
	//margin: 0 auto;
	
}
p#name {
	//margin-bottom: 0px;
	font-family: ;
	font-size: 80%;
}


