body {
	background-color: #ffffcc;
}
h1 {
	text-align: center;
}
div#row {
	width: 40%;
	padding: 20px;
	display: inline-block;
}
div#row2 {
	width: 40%;
	padding: 20px;
	display: inline-block;
}
p {
	text-align: center;
}
p#confirm {
	font-size: 180%;
	font-family: Agency FB;
}
