body {
	background-color: #ffffcc;
	font-family: Agency FB;
	font-size: 120%;
}

h1 {
	text-align: center;
}

div#flowers {
	float: right;
	padding: 20px;
}

div#sub {
	display: block;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	//padding: 275px 0px;
}

p {
	
	text-align: center;
	font-family: Agency FB;
}

p#confirm {
	font-size: 180%;
	
}

img#flower {
	max-height: 340px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
img.link {
	border: 5px solid black;
	margin-left: 20px;
	padding: 15px;
}

div#row {
	width: 40%;
	padding: 20px;
	display: inline-block;
}

a img.link {
	border: 5px solid black;
	padding: 15px;
}
div#row2 {
	width: 40%;
	padding: 20px;
	display: inline-block;
}






